Sales Assignment Analysis

In [133]:
#importing all the necessary libraries
import pandas as pd
import seaborn as sns
import numpy as np

In [134]:
df = pd.read_csv("https://raw.githubusercontent.com/supragyabajpai/SchulichJourney_DataScience/main/Assinment_1(SalesData)/sales_data.csv")

In [135]:
df.head()

      Product    Region   Price  Units Sold   Sale Date
0         NaN  Region_6   75.96        10.0  2022-01-01
1         NaN  Region_1  175.78         8.0  2022-01-02
2  Product_46  Region_3   20.43        12.0  2022-01-03
3  Product_36  Region_1   12.77        10.0  2022-01-04
4  Product_17  Region_6  125.69         6.0  2022-01-05

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     947 non-null    object
 1   Region      946 non-null    object
 2   Price       945 non-null    float64
 3   Units Sold  946 non-null    float64
 4   Sale Date   1050 non-null   object
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

In [137]:
top_products = df['Product'].value_counts().nlargest(5).index.tolist()

In [138]:
top_products

['Product_45', 'Product_5', 'Product_33', 'Product_1', 'Product_13']

In [139]:
# Fill empty cells randomly with top products
df['Product'] = df['Product'].apply(lambda x: np.random.choice(top_products) if pd.isnull(x) else x)

# Display the updated DataFrame
print(df)

         Product    Region   Price  Units Sold   Sale Date
0     Product_45  Region_6   75.96        10.0  2022-01-01
1     Product_45  Region_1  175.78         8.0  2022-01-02
2     Product_46  Region_3   20.43        12.0  2022-01-03
3     Product_36  Region_1   12.77        10.0  2022-01-04
4     Product_17  Region_6  125.69         6.0  2022-01-05
...          ...       ...     ...         ...         ...
1045  Product_45  Region_7   78.69         8.0  2022-07-28
1046   Product_1  Region_6     NaN         8.0  2022-08-02
1047  Product_17  Region_2  114.37        11.0  2023-12-18
1048   Product_1  Region_8     NaN         5.0  2023-12-27
1049  Product_16  Region_2   69.30         8.0  2024-02-23

[1050 rows x 5 columns]

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     1050 non-null   object
 1   Region      946 non-null    object
 2   Price       945 non-null    float64
 3   Units Sold  946 non-null    float64
 4   Sale Date   1050 non-null   object
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

In [141]:
top_regions = df['Region'].value_counts().nlargest(5).index.tolist()
top_regions

['Region_9', 'Region_10', 'Region_4', 'Region_8', 'Region_3']

In [142]:
df['Region'] = df['Region'].apply(lambda x: np.random.choice(top_products) if pd.isnull(x) else x)

# Display the updated DataFrame
print(df)

         Product    Region   Price  Units Sold   Sale Date
0     Product_45  Region_6   75.96        10.0  2022-01-01
1     Product_45  Region_1  175.78         8.0  2022-01-02
2     Product_46  Region_3   20.43        12.0  2022-01-03
3     Product_36  Region_1   12.77        10.0  2022-01-04
4     Product_17  Region_6  125.69         6.0  2022-01-05
...          ...       ...     ...         ...         ...
1045  Product_45  Region_7   78.69         8.0  2022-07-28
1046   Product_1  Region_6     NaN         8.0  2022-08-02
1047  Product_17  Region_2  114.37        11.0  2023-12-18
1048   Product_1  Region_8     NaN         5.0  2023-12-27
1049  Product_16  Region_2   69.30         8.0  2024-02-23

[1050 rows x 5 columns]

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     1050 non-null   object
 1   Region      1050 non-null   object
 2   Price       945 non-null    float64
 3   Units Sold  946 non-null    float64
 4   Sale Date   1050 non-null   object
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

In [144]:
df['Price'].fillna(df.groupby('Product')['Price'].transform('mean'), inplace=True)

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     1050 non-null   object
 1   Region      1050 non-null   object
 2   Price       1050 non-null   float64
 3   Units Sold  946 non-null    float64
 4   Sale Date   1050 non-null   object
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

In [146]:
df['Units Sold'].fillna(df.groupby('Product')['Units Sold'].transform('mean'), inplace=True)

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     1050 non-null   object
 1   Region      1050 non-null   object
 2   Price       1050 non-null   float64
 3   Units Sold  1050 non-null   float64
 4   Sale Date   1050 non-null   object
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

In [148]:
df['Revenue'] = df['Price'] * df['Units Sold']
df.head()

      Product    Region   Price  Units Sold   Sale Date  Revenue
0  Product_45  Region_6   75.96        10.0  2022-01-01   759.60
1  Product_45  Region_1  175.78         8.0  2022-01-02  1406.24
2  Product_46  Region_3   20.43        12.0  2022-01-03   245.16
3  Product_36  Region_1   12.77        10.0  2022-01-04   127.70
4  Product_17  Region_6  125.69         6.0  2022-01-05   754.14

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     1050 non-null   object
 1   Region      1050 non-null   object
 2   Price       1050 non-null   float64
 3   Units Sold  1050 non-null   float64
 4   Sale Date   1050 non-null   object
 5   Revenue     1050 non-null   float64
dtypes: float64(3), object(3)
memory usage: 49.3+ KB

In [151]:
df.to_csv('C:/Users/supra/OneDrive/Desktop/export.csv', index=False)