Sales Assignment Analysis

In [22]:
#importing all the necessary libraries
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/supragyabajpai/SchulichJourney_DataScience/main/Assinment_1(SalesData)/sales_data.csv")

In [6]:
df.head()

      Product    Region   Price  Units Sold   Sale Date
0         NaN  Region_6   75.96        10.0  2022-01-01
1         NaN  Region_1  175.78         8.0  2022-01-02
2  Product_46  Region_3   20.43        12.0  2022-01-03
3  Product_36  Region_1   12.77        10.0  2022-01-04
4  Product_17  Region_6  125.69         6.0  2022-01-05

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     947 non-null    object
 1   Region      946 non-null    object
 2   Price       945 non-null    float64
 3   Units Sold  946 non-null    float64
 4   Sale Date   1050 non-null   object
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

In [10]:
df.describe(include='all')

           Product    Region        Price  Units Sold   Sale Date
count          947       946   945.000000  946.000000        1050
unique          50        10          NaN         NaN        1000
top     Product_45  Region_9          NaN         NaN  2022-07-28
freq            28       109          NaN         NaN           2
mean           NaN       NaN   107.598688   10.048626         NaN
std            NaN       NaN   124.020322    3.172261         NaN
min            NaN       NaN     0.200000    2.000000         NaN
25%            NaN       NaN    29.430000    8.000000         NaN
50%            NaN       NaN    78.130000   10.000000         NaN
75%            NaN       NaN   142.570000   12.000000         NaN
max            NaN       NaN  2143.300000   22.000000         NaN

In [47]:
df['Revenue'] = df['Price'] * df['Units Sold']
df.head()

      Product    Region   Price  Units Sold   Sale Date  Revenue
0         NaN  Region_6   75.96        10.0  2022-01-01   759.60
1         NaN  Region_1  175.78         8.0  2022-01-02  1406.24
2  Product_46  Region_3   20.43        12.0  2022-01-03   245.16
3  Product_36  Region_1   12.77        10.0  2022-01-04   127.70
4  Product_17  Region_6  125.69         6.0  2022-01-05   754.14