UFC Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/supragyabajpai/SchulichJourney_DataScience/main/Personal%20Project/Datasets/data.csv")

In [3]:
df.head()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Adrian Yanez,Gustavo Lopez,Chris Tognoni,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Bantamweight,0.000,0.0,...,0,1,0,0,Orthodox,170.18,177.80,135.0,31.0,27.0
1,Trevin Giles,Roman Dolidze,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Middleweight,0.500,0.0,...,0,3,0,0,Orthodox,182.88,187.96,185.0,32.0,28.0
2,Tai Tuivasa,Harry Hunsucker,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Heavyweight,NaN,NaN,...,1,3,0,0,Southpaw,187.96,190.50,264.0,32.0,28.0
3,Cheyanne Buys,Montserrat Conejo,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,WomenStrawweight,NaN,NaN,...,0,0,0,0,Switch,160.02,160.02,115.0,28.0,25.0
4,Marion Reneau,Macy Chiasson,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,WomenBantamweight,0.125,0.0,...,1,2,2,0,Orthodox,167.64,172.72,135.0,29.0,43.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6012 entries, 0 to 6011
Columns: 144 entries, R_fighter to R_age
dtypes: bool(1), float64(106), int64(28), object(9)
memory usage: 6.6+ MB

In [5]:
df.describe(include ='all')

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
count,6012,6012,5980,6012,6012,6012,6012,6012,4585.000000,4585.000000,...,6012.000000,6012.000000,6012.000000,6012.000000,5983,6008.000000,5606.000000,6010.000000,5840.000000,5949.000000
unique,1514,1987,204,550,166,3,2,14,NaN,NaN,...,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
top,Jim Miller,Jeremy Stephens,Herb Dean,2016-11-19,"Las Vegas, Nevada, USA",Red,False,Lightweight,NaN,NaN,...,NaN,NaN,NaN,NaN,Orthodox,NaN,NaN,NaN,NaN,NaN
freq,27,21,858,25,1565,3979,5647,1091,NaN,NaN,...,NaN,NaN,NaN,NaN,4538,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.247476,0.176818,...,1.251331,1.297572,0.796241,0.069195,NaN,178.991788,183.562347,170.686356,29.293151,29.598252
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.378509,0.324633,...,1.681376,1.859955,1.355801,0.273980,NaN,8.812985,10.585313,35.724626,4.063297,4.167755
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,NaN,152.400000,152.400000,115.000000,18.000000,19.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,NaN,172.720000,177.800000,145.000000,26.000000,27.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015625,0.000000,...,1.000000,1.000000,0.000000,0.000000,NaN,180.340000,182.880000,170.000000,29.000000,29.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500000,0.250000,...,2.000000,2.000000,1.000000,0.000000,NaN,185.420000,190.500000,185.000000,32.000000,32.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,3.000000,...,10.000000,11.000000,13.000000,2.000000,NaN,210.820000,213.360000,345.000000,51.000000,47.000000