In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/delinai/schulich_ds1/main/Datasets/module_5_feature_engineering_inclass.csv")

In [5]:
df.head()

,user_id,age,signup_date,last_purchase_date,total_purchases,total_spent,favorite_product_category,location,gender,email_domain
0,1,33,1978-11-01 17:03,2020-05-11 4:13,10,840.954993,books,Lake Gerald,female,gmail.com
1,2,32,2016-04-08 14:19,1959-01-07 5:45,2,1147.412095,books,North Justinburgh,male,yahoo.com
2,3,19,2021-03-08 7:01,2006-10-29 16:56,6,1301.284835,books,West Alec,female,yahoo.com
3,4,48,2006-01-11 11:04,1966-07-01 20:22,8,1404.261405,books,Annaton,male,hotmail.com
4,5,75,1985-06-16 1:41,2013-05-14 12:44,3,1968.752964,books,East Markburgh,female,yahoo.com

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   user_id                    1000 non-null   int64
 1   age                        1000 non-null   int64
 2   signup_date                1000 non-null   object
 3   last_purchase_date         1000 non-null   object
 4   total_purchases            1000 non-null   int64
 5   total_spent                1000 non-null   float64
 6   favorite_product_category  1000 non-null   object
 7   location                   1000 non-null   object
 8   gender                     1000 non-null   object
 9   email_domain               1000 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 78.3+ KB